@media screen {

    .client {
        padding-bottom: 100px;
    }
    
    
    .client-list ul {
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        font-size: 1rem;
        font-weight: 500;
        list-style: none;
        flex-direction: row;
        text-transform: uppercase;
        color:  var(--fade-color);
        justify-content: space-around;
    }
    
}

/* ipad/tablet */
@media only screen and (min-width:48.0em){ 

    .client-list ul {
        font-size: 1.3rem;
    }

}

