@media screen {

    .client {
        padding-bottom: 100px;
    }
    
    
    .client-list ul {
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        font-weight: 500;
        list-style: none;
        flex-direction: row;
        text-transform: uppercase;
        color:  var(--fade-color);
        justify-content: space-around;
    }
    
}



