@media screen {

    .client {
        padding-bottom: 100px;
    }
    
    
    .client-list ul {
        gap: 15px;
        display: flex;
        flex-wrap: wrap;
        font-weight: 500;
        list-style: none;
        flex-direction: row;
        text-transform: uppercase;
        color:  var(--fade-color);
        justify-content: space-around;
    }
    
}


/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {

    .client {
        padding: 0 20px;
        padding-bottom: 100px;
    }
}
