@media screen {

    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:ital,wght@0,100;0,500;1,300&display=swap');

    * {
    
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
        /* color-scheme */  
        --bg-color:#FFFFFF;
        --fade-color:#bac4d4;
        --footer-color:#14151A;
        --primary-color:#ff6600;
        --secondary-color:#1BA1DE;
        /* fonts */
        --head-font:'Open Sans', sans-serif;
        --body-font: 'Roboto', sans-serif;
        /* font size */
        --body-mobile:1rem;
        --body-desktop:1.5rem;
        --head-mobile:2rem;
        --head-desktop:4rem;
    
    }
    
    html {
        background-color:transparent;
        -webkit-background-color:transparent;
    }
    
    
body {
    
    font-weight: 100;
    font-size:var(--body-mobile);
    font-family:var(--head-font);
    color: var(--footer-color);
    text-rendering: optimizeSpeed;
    font-feature-settings: "kern";
    -webkit-text-size-adjust: 100%;
    background-color: var(--bg-color);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-font-feature-settings: "kern" 1;

}

a {
    text-decoration: none;  
}

.app-c {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position:fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ul li {
    color: var(--comment-color);
}


p {
    font-size: 1rem;
   }
   
   h1 {
    font-size: 1.2rem;
   }
   
   h2 ,span  {
    font-size: 1rem; 
   }
   
   h3 {
    font-size: 1rem; 
   }

h1,h2,h3 {
    font-family: var(--head-font);
    font-weight: 400;

}

}
    


