@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200;400&display=swap');
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* color-scheme */  
    --bg-color:#FFFFFF;
    --fade-color:#bac4d4;
    --footer-color:#14151A;
    --primary-color:#83C90D;
    --secondary-color:#1BA1DE;
    /* fonts */
    --font:'Source Serif Pro', serif;
    

}

html {
    background-color:transparent;
    -webkit-background-color:transparent;
}

body {
    
    font-weight: 100;
    color: var(--text-color);
    font-family:var(--font);
    background-color: var(--bg-color);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    -webkit-text-size-adjust: 100%;
    -ms-font-feature-settings: "kern" 1;
    font-feature-settings: "kern";
}

a {
    text-decoration: none;  
}

.app-c {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position:fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ul li {
    color: var(--comment-color);
}

h1,h2,h3 {
    font-family: var(--font);
    font-weight: 400;

}

h1, h2 {
    font-size:1.4rem;
}

h3 {
    font-size:1rem;
}



@media screen {}
    
/* ipad/tablet */
@media only screen and (min-width:48.0em){ 
}

/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width:64.063em) and (max-width:90.0em) {
}

/* 5k screens and above */
@media only screen and (min-width:91.0em) {
}
