@media screen {
.home {
    display:flex;
    row-gap: 10px;
    margin: 0 10px;
    flex-direction:column;
}

.home-view {
    height:100vh;
}

.home-a {
    height: 40%;
    display: flex;
    row-gap: 30px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.home-a h3 {    font-weight: 400;
    
}

.home-a span {
    color:var(--secondary-color);
}

.btn-h {

    color: var(--bg-color);
    padding: 10px 20px;
    outline: 0;
    border: 0;
}

.home-b {
    display: flex;

}


.home-mid-img {
    display: flex;
    align-items: center;
 
}



.home-b {
    height:50%;
    background-size: cover;
    background-position: center;    
    border-radius:0 10px 0 10px;
    background-repeat: no-repeat;
    background-image: url("../assets/mars.jpg");
 
}

.home-mid-img {
    height:100%;
    width: 100%;
    opacity: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:0 10px 0 10px;
    background-color:var(--primary-color);


}

.mid-img {
    object-fit: cover;
    object-position: center;
    border-radius:10px 0 10px 0;
    height:70%;
    width:70%;
  
}


.service, .project {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.service {
    margin-bottom:150px;
}

.service h3 , .project h3 {
    color: var(--primary-color);
    margin-bottom: 5px;
}

.project {
    padding: 30px 0;
}


}

/* ipad/tablet */
@media only screen and (min-width:48.0em){ 

    .home {
        row-gap: 50px;
    }

    .home-a h3 {
        text-align: center;
        
    }

    .mid-img {
        border-radius:10px 0 10px 0;
        height:80%;
        width:80%;
      
    }


    

}

/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {

    .home {
        row-gap: 50px;
    }


    .home {
        margin: 0 ;
    }

    .home-view {
        height:50vh;
        display: flex;
        align-items: center;

    }

    .home-a , .home-b {
        flex:50%;
    }

    .home-a {
        padding: 0 10px;
        justify-content: center;
    }

    .home-a h3 {
        text-align: start;
    }

    .home-b {
        height:100%;
   
     
    }

    .home-mid-img {
        border-radius:0px;
        opacity: 0%;

    }
    
    .mid-img {

        border-radius:0;
        height:50%;
      
    }
    

}

/* large screens : Desktop and 4k screens */
@media only screen and (min-width:64.063em) and (max-width:90.0em) {

    
    .home {
        margin: 0 ;
        row-gap: 100px;
    }

    .home-view {
        height:70vh;
        display: flex;
        align-items: center;
        padding: 30px;

    }

    .home-a , .home-b {
        flex:50%;
    }

    .home-a {
        padding: 0 10px;
        justify-content: center;
    }

    .home-a h3 {
        text-align: start;
    }

    .home-b {
        height:100%;
     
    }

    .home-mid-img {
        border-radius:0px;
        opacity: 0%;
    }
    
    .mid-img {
        border-radius:0;
        height:70%;
 
      
    }

}


