@media screen {
.done-p {
    display:flex;
    align-items: center;
    padding-bottom:100px;
    justify-content:center;
    flex-direction: column;


}

.dp-txt {
    flex:60%
}


.dp-txt {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}


.dp-btn {

    position:relative;
    top: 160px;

}

.btn-pd {
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
    background-color:transparent;
    border-bottom: 2px solid var(--primary-color);
}


.dp-work, .p-a, .p-b {

    display: flex;

}

.dp-work {
    width: 100%;
    padding: 20px 0;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.p-a, .p-b {
    flex-direction: column;
    
}


.dp-work span {
    font-weight:bold; 
}

}

    
/* ipad/tablet */
@media only screen and (min-width:48.0em){ 

        
.done-p {
    padding: 150px 20px;
    flex-direction: row;

}

.dp-work {
    flex:40%
}


.dp-btn {

    position:relative;
    top: 30px;

}

.dp-work, .p-a, .p-b {

    display: flex;
    flex-direction: column;

}

.dp-work {
    display: flex;
    padding-left: 130px;
    align-items: flex-start;
}

}
/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {

            
.done-p {
    padding: 180px 20px;
    padding-bottom:280px;
    flex-direction: row;

}

.dp-btn {

    position:relative;
    top: 30px;

}



.dp-work {
    display: flex;
    padding-left: 200px;
    align-items: flex-start;
}

}


/* large screens : Desktop and 4k screens */
@media only screen and (min-width:64.063em) and (max-width:90.0em) {

    .done-p {
        padding: 150px 100px;
        padding-bottom: 250px;
        flex-direction: row;
    
    }
    
    
    .dp-btn {
        position:relative;
        top: 30px;
    
    }
    
    .dp-work {
        display: flex;
        padding-left: 210px;
        align-items: flex-start;
    }

}
