@media screen {  
.project-c {
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    flex-direction: column;


}

.p-content {
    display:flex;
    flex-direction: column;

}

.p-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.p-txt {
    margin:30px 0;
}

.p-txt p {
    visibility: hidden;
    color: var(--fade-color);
}

.p-img:hover {

    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.p-content:hover p {
    transition: .3s ease-in-out;
    visibility: visible;

} 

}

/* ipad/tablet */
@media only screen and (min-width:48.0em){ 

    .p-content {
    margin-bottom: 30px;
    }
    
    .p-txt h3 {
       font-size: 1.4rem;
    }

    .p-txt p {
        font-size: 1.3rem;
    }

}


/* ipad pro screens & laptop */
@media only screen and (min-width:49.0em) and (max-width:64em) {

    .project-c {
        gap: 40px;
        padding: 100px 0;
        flex-direction: row;
    
    }

    .random1 {
        height: 500px;
        width: 400px;
    
    }

    .random2 {
        height: 800px;
        width: 400px;
    
    }

}

/* large screens : Desktop and 4k screens */
@media only screen and (min-width:64.063em) and (max-width:90.0em) {

    .project-c {
        gap: 60px;
        padding: 100px 0;
        flex-direction: row;
    
    }

    .random1 {
        height: 600px;
        width: 500px;
    
    }

    .random2 {
        height: 900px;
        width: 500px;
    
    }

}

/* 5k screens and above */
@media only screen and (min-width:91.0em) {

    
    .project-c {
        gap: 60px;
        padding: 100px 0;
        flex-direction: row;
    
    }

    .random1 {
        height: 600px;
        width: 500px;
    
    }

    .random2 {
        height: 900px;
        width: 500px;
    
    }
}